body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 30px;
  display: flex;
  justify-content: center;
}

#tablaRequerimientoContainer {
  display: block;
  position: absolute;
  top: 80px;
  right: 30px;
  width: 1600px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 9999;
}

#tablaRequerimientoContainer h1 {
  color: #153c91;
  margin-bottom: 16px;
  font-size: 28px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.close-btn-entregas {
  float: right;
  background: #dd5d54;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 30px;
  border: 2px solid #dd5d54;
  cursor: pointer;
  color: #fff;
  transition: color 0.3s ease;
}

.close-btn-entregas:hover {
  color: #f1f7fe;
}

#tablaRequerimientoWrapper {
  max-height: 650px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
  white-space: nowrap;
}

th {
  background: #f1f7fe;
  color: #1b3a6e;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td {
  font-size: 16px;
}

tbody tr:nth-child(even) {
  background: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background: #ffffff;
}






.navegacion-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  gap: 10px;
}

.page-btn {
  background-color: #2e5ab7;
  border: 2px solid #0a5bb0;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.page-btn:hover {
  background-color: #2c70b8;
  color: #ffffff;
}

.btn-volver {
  background-color: #6c757d;
  border: 2px solid #5a6268;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-volver:hover {
  background-color: #5a6268;
}
